/*realstyle2*/
/*practice*/
/*register*/

body{background-image: url(locker.jpg);
	background-size: cover}

p{color: white;
	text-transform: uppercase;
	line-height: 20px;
	font-style: italic;
	font-weight: bold;
	font-size: 80%;
	font-family: 'Courgette', cursive;}

img{float: right;
	height: 400px;
	width: 400px;}

footer{clear: both;
		text-align: center}

.boxmodel{border: 5px solid white;
		display: inline-block;
		padding: 20px;
		margin: 20px;}

.super{font-family: fantasy;
		font-size: 3em;
		border-bottom: 2px solid white;
		border-right: 2px solid white;
		width: 400px;
		text-align: center;}

.container{display: flex;}